@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Pompiere", serif;
    background-color: #ff914d;
}
#root{
    min-width: 1100px;
    height: 100%;
}

/*
nuevos colores
naranja 
#ff914d claro
#ed8330 medio
#d6670c oscuro
marron
#2b2515
*/